@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

html,
body{
    background-image: url(../src/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* height: 100vh;
    width: 100vw;
    display: flex; */
  }
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Popins', sans-serif;

}

.app{
    display: flex;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

